body {
  display: flex;
  justify-content: center;
  position: relative;
  width: 375px;
  min-height: 100vh;
  background: #ebebff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 550;
}
/* grid container setup */
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 114px;
  align-self: center;
}

/* styling the cards using flex*/
.card {
  border: solid 1px #dfe1e6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-justify: auto;
}

/* styling top-container */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0px;
}

/* styling main-heading */
.main-heading {
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 0px;
}

/* styling canopy */
.canopy {
  font-weight: bold;
  color: #344563;
  margin: 12px 0px;
}

.dev {
  color: #7a869a;
  font-weight: bold;
}

.year { margin-right: 40px; }

/* styling paragraph class */
.paragraph {
  color: #344563;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

/* styling multiple buttons */
.language-button {
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  padding-left: 0;
}

.l-button {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

.l-button:hover { cursor: pointer; }

.see-project {
  color: #396df2;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid #396df2;
  font-weight: 500px;
  font-size: 20px;
  align-items: center;
}

.see-project:hover { cursor: pointer; }
