/* MOBILE VERSION CSS */

/* animation */
.desktop-nav {
  animation: fadeDown 1000ms forwards;
  opacity: 0;
  display: none;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name,
.name-des h1 {
  animation: fadeIn 800ms forwards;
  opacity: 0;
  animation-delay: 400ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.name,
.name-des p {
  animation: fadeToRight 800ms forwards;
  opacity: 0;
  animation-delay: 800ms;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

/* container */
.container {
  width: 375px;
  border: 1px solid white;
  background-color: white;
}

.pg-1 {
  width: 375px;
  height: 718px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.my-mobile-logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

a:link { text-decoration: none; }

.mobile-logo {
  display: flex;
  margin: 0 24px 10px 24px;
  justify-content: space-between;
  align-items: center;
}

.ham {
  padding-left: 10px;
  cursor: pointer;
}

.description-des { display: none; }

.description-mob {
  background-size: cover;
  background-image: url(pics/header.png);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.name {
  padding: 50px 24px 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.name p {
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.connect {
  margin: 10px 0 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #7f8cff;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.connect:hover {
  cursor: pointer;
  color: #2f43f1;
}

.apps ul {
  list-style: none;
  align-items: center;
}

.apps li { display: inline-block; }

.box { padding-right: 12px; }

.box:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

.box1 {
  margin-left: -12px;
  padding-top: 0;
}

/* grid container setup */
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 114px;
  align-self: center;
}

/* styling the cards using flex */
.card {
  border: solid 1px #dfe1e6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-justify: auto;
}

.card-desk { display: none; }

/* styling top-container */
.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  margin-left: -40px;
}

/* styling main-heading */
.sub-heading {
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
}

/* styling canopy */
.canopy {
  font-weight: bold;
  color: #344563;
}

.dev {
  color: #7a869a;
  font-weight: bold;
}

.year { margin-right: 90px; }

/* styling paragraph class */
.paragraph {
  color: #344563;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

/* styling multiple buttons */
.language-button {
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  padding-left: 0;
}

.l-button {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

.l-button:hover {
  cursor: pointer;
  color: white;
  background: #6071fc;
}

.l-button:focus {
  cursor: pointer;
  color: white;
  background: #2234d3;
}

.see-project {
  color: #396df2;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid #396df2;
  font-weight: normal;
  font-size: 20px;
  align-items: center;
}

.see-project:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6071fc;
}

.see-project:focus {
  cursor: pointer;
  color: #fff;
  background-color: #2234d3;
}

.about {
  border-top-right-radius: 80px;
  background-color: #fff;
  font-family: "Poppings", sans-serif;
  padding: 20px;
  margin-top: 114px;
  margin-bottom: 114px;
}

.me {
  font-weight: bold;
  color: #172b4d;
  font-size: 40px;
  padding-top: 114px;
}

.introduction {
  font-size: 16px;
  color: #344563;
  font-weight: normal;
}

.socials {
  color: #7f8cff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.socials:hover {
  cursor: pointer;
  color: #2f43f1;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
  width: 50%;
}

img[src*="twitter_bird.png"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

img[src*="linked_in_logo.svg"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

img[src*="M.svg"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

img[src*="github_cat.svg"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

img[src*="peace.svg"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 2px black);
}

.cv {
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid #396df2;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
}

.cv:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6071fc;
}

.cv:focus {
  cursor: pointer;
  color: #fff;
  background-color: #2234d3;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.language {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

img[src*="Union.png"] {
  display: block;
  height: 10px;
  width: 12px;
  left: 10px;
  top: 6px;
}

.img-fw {
  display: flex;
  float: left;
}

.img-lang {
  border: none;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 10px;
}

.name-lang {
  padding-top: 15px;
  padding-left: 60px;
  color: #253858;
  font-weight: normal;
  font-size: 15px;
}

.name-lang:hover {
  cursor: pointer;
  font-weight: bolder;
}

.works { padding-top: 100px; }

.works-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-right: 50px;
  margin-left: -30px;
}

.works-list:hover {
  cursor: pointer;
  font-weight: bolder;
}

.about-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: #dfe1e6 solid 0.5px;
  padding-bottom: 24px;
  padding-top: 24px;
}

img[src*="right_arrow.png"] {
  display: block;
  height: 12px;
  width: 10px;
  top: 6px;
}

.footer-section {
  background-color: #6070ff;
  border-radius: 80px 0 0 0;
  background-image: url(pics/contactFormBackground.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 55vw;
  padding: 20px 0;
}

footer h2 {
  justify-content: center;
  display: flex;
  color: #f3f4f4;
  font-size: 40px;
}

footer .contact-text {
  font-size: 20px;
  line-height: 28px;
  justify-content: center;
  margin-left: 22px;
  margin-right: 22px;
  font-family: 'Poppins', sans-serif;
  color: #ebebff;
}

.message {
  border: 0;
  outline: none;
  color: #b3bac5;
  min-height: 170px;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 22px;
}

.inp {
  border: 0;
  border-radius: 8px;
  padding: 16px;
}

.submit-contact {
  margin-top: 10px;
  padding: 20px;
  width: 50%;
}

.submit-contact:hover { font-weight: bold; }

/* DESKTOP VERSION CSS MEDIUM SCREEN SIZE (IPAD) */
@media only screen and (min-width: 600px) {
  html { scroll-behavior: smooth; }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body { font-family: "Roboto", sans-serif; }

  .container {
    width: 900px;
    border: 1px solid white;
    margin: 0 auto;
    padding: 0 100px;
  }

  p {
    line-height: 2;
    margin-bottom: 20px;
  }

  section { padding-top: 100px; }

  /* styling the desktop nav */
  .mobile-logo { display: none; }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 900px;
    background-color: white;
    padding-right: 150px;
  }

  .desktop-logo {
    text-decoration: none;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding-left: 120px;
  }

  .pg-1 {
    margin-left: -100px;
    width: 900px;
    background-color: white;
    border-bottom-left-radius: 100px;
    background-image: url(pics/Group.png);
    background-repeat: no-repeat;
    background-size: 870px 646px;
    box-sizing: border-box;
  }

  .menu-items {
    display: flex;
    list-style: none;
  }

  .nav-link { padding: 10px 12px; }

  .top-nav {
    text-decoration: none;
    color: #172b4d;
  }

  .menu-items .contact { margin-right: 0; }

  /* styling the main heading content */
  .description-mob { display: none; }

  .description-des {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    width: 900px;
    padding-left: 140px;
  }

  .name-des h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #091e42;
    padding-bottom: 10px;
  }

  .connecting {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7f8cff;
    font-style: normal;
    line-height: 24px;
  }

  .apps { padding-left: 100px; }

  .apps ul {
    list-style: none;
    align-items: center;
  }

  .apps li {
    display: inline-block;
    padding: 10px 10px;
    align-content: center;
  }

  /* styling the works page */

  .card {
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-justify: auto;
    justify-content: space-between;
    width: 700px;
  }

  .card2,
  .card4 { display: none; }

  .card .screenshot { width: 50%; }

  .col2 {
    display: flex;
    flex-direction: column;
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    width: 300px;
  }

  .sub-heading,
  .main-heading { padding-bottom: 20px; }

  .language-button { padding-bottom: 20px; }

  /* styling about page */
  .about {
    margin-left: -100px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
  }

  .abt1 {
    width: 300px;
    min-height: 75vw;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .abt2 {
    float: left;
    padding: 100px 0 0 0;
    width: 350px;
  }

  .me { padding-bottom: 20px; }

  .img-lang {
    display: flex;
    flex-direction: column;
    width: 100px;
    float: left;
    border-radius: 8px;
    height: 90px;
  }

  .img-fw {
    width: 28px;
    padding-right: 10px;
  }

  .name-lang { padding: 20px 30px 0 10px; }

  .language {
    display: flex;
    flex-direction: row;
  }

  ul .language { display: flex; }

  .socials,
  .icons { padding-bottom: 20px; }

  .works-list { padding-top: 20px; }

  /* contact section */

  .footer-section {
    background-image: url(pics/Group57.svg);
    padding: 30px 250px;
    width: 900px;
    margin: -100px 0 0 -100px;
    border-top-left-radius: 200px;
  }

  .footer {
    justify-content: center;
    align-self: center;
    text-align: center;
    left: 320px;
    border: 0;
  }

  .footer h2 {
    padding: 20px;
    text-align: center;
  }

  .submit-contact { align-self: center; }
}

/* DESKTOP VERSION CSS LARGE SCREEN SIZE */
@media only screen and (max-width: 1100px) and (min-width: 992px) {
  html { scroll-behavior: smooth; }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body { font-family: "Roboto", sans-serif; }

  .container {
    width: 1082px;
    border: 1px solid white;
    margin: 0 auto;
    padding: 0 100px;
  }

  p {
    line-height: 2;
    margin-bottom: 20px;
  }

  section { padding-top: 100px; }

  /* styling the desktop nav */
  .mobile-logo { display: none; }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 1082px;
    background-color: white;
    padding-right: 150px;
  }

  .desktop-logo {
    text-decoration: none;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding-left: 100px;
  }

  .pg-1 {
    margin-left: -100px;
    width: 1082px;
    background-color: white;
    border-bottom-left-radius: 100px;
    background-image: url(pics/Group.png);
    background-repeat: no-repeat;
    background-size: 1082px 646px;
    box-sizing: border-box;
  }

  .menu-items {
    display: flex;
    list-style: none;
  }

  .nav-link { padding: 10px 12px; }

  .top-nav {
    text-decoration: none;
    color: #172b4d;
  }

  .menu-items .contact { margin-right: 0; }

  /* styling the main heading content */
  .description-mob { display: none; }

  .description-des {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    width: 1082px;
    padding-left: 140px;
  }

  .name-des h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #091e42;
    padding-bottom: 10px;
  }

  .connecting {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7f8cff;
    font-style: normal;
    line-height: 24px;
  }

  .apps { padding-left: 100px; }

  .apps ul {
    list-style: none;
    align-items: center;
  }

  .apps li {
    display: inline-block;
    padding: 10px 10px;
    align-content: center;
  }

  /* styling the works page */

  .card {
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-justify: auto;
    justify-content: space-between;
    width: 900px;
  }

  .card2,
  .card4 { display: none; }

  .card .screenshot { width: 50%; }

  .col2 {
    display: flex;
    flex-direction: column;
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    width: 400px;
  }

  .sub-heading,
  .main-heading { padding-bottom: 20px; }

  .language-button { padding-bottom: 20px; }

  /* styling about page */
  .about {
    margin-left: -100px;
    width: 1082px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
  }

  .abt1 {
    width: 400px;
    min-height: 75vw;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .abt2 {
    float: left;
    padding: 120px 0 0 0;
    width: 450px;
  }

  .me { padding-bottom: 20px; }

  .img-lang {
    display: flex;
    flex-direction: column;
    width: 150px;
    float: left;
    border-radius: 8px;
    height: 90px;
  }

  .img-fw {
    width: 38px;
    padding: 10px 0 0 10px;
  }

  .name-lang { padding: 20px 30px 0 10px; }

  .language {
    display: flex;
    flex-direction: row;
  }

  ul .language { display: flex; }

  .socials,
  .icons { padding-bottom: 20px; }

  .works-list { padding-top: 20px; }

  /* contact section */

  .footer-section {
    background-image: url(pics/Group57.svg);
    padding: 20px 350px;
    width: 1082px;
    margin: -180px 0 0 -100px;
    border-top-left-radius: 200px;
  }

  .footer {
    justify-content: center;
    align-self: center;
    text-align: center;
    left: 320px;
    border: 0;
  }

  .footer h2 {
    padding: 20px;
    text-align: center;
  }

  .submit-contact { align-self: center; }
}

/* DESKTOP VERSION CSS LARGE SCREEN SIZE above 1100px */
@media only screen and (min-width: 1100px) {
  html { scroll-behavior: smooth; }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body { font-family: "Roboto", sans-serif; }

  .container {
    width: 1280px;
    border: 1px solid white;
    background-color: white;
    margin: 0 auto;
    padding: 0 100px;
  }

  p {
    line-height: 2;
    margin-bottom: 20px;
  }

  section { padding-top: 100px; }

  /* styling the desktop nav */
  .mobile-logo { display: none; }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 1280px;
    background-color: white;
    padding-right: 150px;
  }

  .desktop-logo {
    text-decoration: none;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding-left: 100px;
  }

  .pg-1 {
    margin-left: -100px;
    width: 1280px;
    background-color: white;
    border-bottom-left-radius: 100px;
    background-image: url(pics/Group.png);
    background-repeat: no-repeat;
    background-size: 1280px 646px;
    box-sizing: border-box;
  }

  .menu-items {
    display: flex;
    list-style: none;
  }

  .nav-link { padding: 10px 12px; }

  .top-nav {
    text-decoration: none;
    color: #172b4d;
  }

  .menu-items .contact { margin-right: 0; }

  /* styling the main heading content */
  .description-mob { display: none; }

  .description-des {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    width: 1280px;
    padding-left: 140px;
  }

  .name-des h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #091e42;
    padding-bottom: 10px;
  }

  .connecting {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7f8cff;
    font-style: normal;
    line-height: 24px;
  }

  .apps { padding-left: 100px; }

  .apps ul {
    list-style: none;
    align-items: center;
  }

  .apps li {
    display: inline-block;
    padding: 10px 10px;
    align-content: center;
  }

  /* styling the works page */

  .card {
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-justify: auto;
    justify-content: space-between;
    width: 1082px;
  }

  .card2,
  .card4 { display: none; }

  .card .screenshot { width: 50%; }

  .col2 {
    display: flex;
    flex-direction: column;
    border: solid 1px #dfe1e6;
    border-radius: 18px;
    padding: 20px;
    width: 500px;
  }

  .sub-heading,
  .main-heading { padding-bottom: 20px; }

  .language-button { padding-bottom: 20px; }

  /* styling about page */
  .about {
    margin-left: -100px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
  }

  .abt1 {
    width: 500px;
    min-height: 60vw;
    padding-bottom: 20px;
    padding-left: 100px;
  }

  .abt2 {
    float: left;
    padding: 120px 0 0 0;
    width: 550px;
  }

  .me { padding-bottom: 20px; }

  .img-lang {
    display: flex;
    flex-direction: column;
    width: 150px;
    float: left;
    border-radius: 8px;
    height: 90px;
  }

  .img-fw {
    width: 38px;
    padding: 10px 0 0 10px;
  }

  .name-lang { padding: 20px 30px 0 10px; }

  .language {
    display: flex;
    flex-direction: row;
  }

  ul .language { display: flex; }

  .socials,
  .icons { padding-bottom: 20px; }

  .works-list { padding-top: 20px; }

  /* contact section */

  .footer-section {
    background-image: url(pics/Group57.svg);
    padding: 20px 350px;
    width: 1280px;
    margin: -150px 0 0 -100px;
  }

  .footer {
    justify-content: center;
    align-self: center;
    left: 320px;
    border: 0;
  }

  .footer h2 {
    padding: 20px;
    text-align: center;
  }

  .submit-contact { align-self: center; }
}
